In [1]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd

In [4]:
def get_engine(user, password, host, port, database):
    """
    Returns an engine to the database
    """
    return create_engine('postgresql://{}:{}@{}:{}/{}'.format(user, password, host, port, database))

engine = get_engine('rob_the_programmer', input("enter password: "), 'localhost', 5432, 'data_sci')
print(engine)

Engine(postgresql://rob_the_programmer:***@localhost:5432/data_sci)

In [6]:
query = "select * from employees limit 20;"
df = pd.read_sql_query(query, engine)
df

,id,last_name,email,start_date,salary,job_title,region_id,department_id
0,1,kelley,rkelley0@soundcloud.com,2015-09-19,67470,structural engineer,2,6
1,22,alexander,kalexanderl@marketwatch.com,2021-10-20,144724,marketing assistant,2,1
2,1003,carr,fcarr2@woothemes.com,2018-09-20,101768,recruiting manager,3,1
3,45,nguyen,mnguyen18@biblegateway.com,2021-06-21,108378,electrical engineer,7,1
4,50,armstrong,parmstrong1d@hc360.com,2017-09-13,89969,senior editor,4,1
5,55,ross,jross1i@infoseek.co.jp,2014-10-16,71363,environmental tech,3,1
6,62,boyd,aboyd1p@artisteer.com,2022-07-04,69936,senior editor,7,1
7,65,jordan,jjordan1s@about.me,2017-06-29,86939,tax accountant,3,1
8,92,ortiz,aortiz2j@jigsy.com,2020-07-17,113231,senior editor,7,1
9,103,reed,dreed2u@arstechnica.com,2016-12-19,126001,structural engineer,6,1
10,118,fox,pfox39@discovery.com,2015-11-06,87134,assistant manager,3,1
11,165,lawson,jlawson4k@prnewswire.com,2017-10-21,130993,administrative officer,2,1
12,202,morris,lmorris5l@patch.com,2021-12-11,91932,analyst programmer,1,1
13,258,schmidt,dschmidt75@sitemeter.com,2018-09-08,133612,vp product management,4,1
14,270,torres,ttorres7h@telegraph.co.uk,2022-12-02,120875,software consultant,1,1
15,292,ortiz,dortiz83@themeforest.net,2017-12-25,91296,environmental tech,6,1
16,327,edwards,medwards92@mail.ru,2021-09-30,140194,programmer iv,5,1
17,358,gutierrez,jgutierrez9x@telegraph.co.uk,2021-10-02,67800,desktop support technician,2,1
18,360,jenkins,jjenkins9z@w3.org,2019-09-22,84356,marketing assistant,2,1
19,363,hall,jhalla2@prweb.com,2019-11-07,83177,community outreach specialist,3,1