In [1]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd

In [4]:
def get_engine(user, password, host, port, database):
    """
    Returns an engine to the database
    """
    return create_engine('postgresql://{}:{}@{}:{}/{}'.format(user, password, host, port, database))

engine = get_engine('rob_the_programmer', input("enter password: "), 'localhost', 5432, 'data_sci')
print(engine)

Engine(postgresql://rob_the_programmer:***@localhost:5432/data_sci)

In [16]:
query = "select * from employees;"
df_employees = pd.read_sql_query(query, engine)
df_employees.head()

,id,last_name,email,start_date,salary,job_title,region_id,department_id
0,1,kelley,rkelley0@soundcloud.com,2015-09-19,67470,structural engineer,2,6
1,22,alexander,kalexanderl@marketwatch.com,2021-10-20,144724,marketing assistant,2,1
2,1003,carr,fcarr2@woothemes.com,2018-09-20,101768,recruiting manager,3,1
3,45,nguyen,mnguyen18@biblegateway.com,2021-06-21,108378,electrical engineer,7,1
4,50,armstrong,parmstrong1d@hc360.com,2017-09-13,89969,senior editor,4,1

In [17]:
df_employees[df_employees['salary'] > 100000]

,id,last_name,email,start_date,salary,job_title,region_id,department_id
1,22,alexander,kalexanderl@marketwatch.com,2021-10-20,144724,marketing assistant,2,1
2,1003,carr,fcarr2@woothemes.com,2018-09-20,101768,recruiting manager,3,1
3,45,nguyen,mnguyen18@biblegateway.com,2021-06-21,108378,electrical engineer,7,1
8,92,ortiz,aortiz2j@jigsy.com,2020-07-17,113231,senior editor,7,1
9,103,reed,dreed2u@arstechnica.com,2016-12-19,126001,structural engineer,6,1
...,...,...,...,...,...,...,...,...
1038,804,hunter,hhuntermb@reverbnation.com,2023-07-03,123156,social worker,1,22
1042,874,spencer,kspencero9@eventbrite.com,2023-04-27,119769,director of sales,2,22
1043,901,perry,kperryp0@chron.com,2021-10-06,146701,research assistant ii,7,22
1044,935,hudson,mhudsonpy@altervista.org,2015-03-30,146745,assistant media planner,1,22
1045,993,anderson,sandersonrk@businesswire.com,2023-11-26,139486,product engineer,7,22

In [18]:
df_employees.isna().sum()

id               0
last_name        0
email            0
start_date       0
salary           0
job_title        0
region_id        0
department_id    0
dtype: int64

In [19]:
len(df_employees)

1046

In [20]:
# find the minimum salary
df_employees['salary'].min()

40138

In [21]:
# find the maximum salary
df_employees['salary'].max()

149929

In [26]:
df_employees.last_name.unique()

array(['kelley', 'alexander', 'carr', 'nguyen', 'armstrong', 'ross',
       'boyd', 'jordan', 'ortiz', 'reed', 'fox', 'lawson', 'morris',
       'schmidt', 'torres', 'edwards', 'gutierrez', 'jenkins', 'hall',
       'nichols', 'carroll', 'anderson', 'hawkins', 'sanchez', 'george',
       'duncan', 'marshall', 'mcdonald', 'foster', 'morales', 'rose',
       'simmons', 'gordon', 'meyer', 'thomas', 'burns', 'butler',
       'wright', 'gonzales', 'owens', 'webb', 'peterson', 'adams',
       'medina', 'kennedy', 'allen', 'dixon', 'vasquez', 'wallace',
       'moore', 'wagner', 'barnes', 'day', 'sanders', 'tucker', 'ward',
       'price', 'lewis', 'hudson', 'jones', 'sims', 'scott', 'howard',
       'richards', 'morgan', 'bell', 'harrison', 'fowler', 'murphy',
       'howell', 'miller', 'williams', 'bowman', 'bailey', 'weaver',
       'rodriguez', 'coleman', 'mason', 'hayes', 'powell', 'rivera',
       'andrews', 'stephens', 'ramos', 'peters', 'washington', 'brown',
       'gomez', 'graham', 'lynch', 'ford', 'harvey', 'long', 'white',
       'hansen', 'woods', 'hunt', 'jackson', 'carpenter', 'mendoza',
       'crawford', 'reid', 'fisher', 'watkins', 'wilson', 'moreno',
       'chapman', 'collins', 'ryan', 'cole', 'black', 'oliver',
       'cunningham', 'perkins', 'freeman', 'ferguson', 'watson',
       'richardson', 'berry', 'arnold', 'young', 'gray', 'williamson',
       'kim', 'james', 'taylor', 'greene', 'phillips', 'roberts', 'hill',
       'murray', 'elliott', 'olson', 'knight', 'rice', 'burton',
       'johnson', 'castillo', 'austin', 'gibson', 'grant', 'wheeler',
       'robertson', 'west', 'stevens', 'hanson', 'holmes', 'lee',
       'gonzalez', 'little', 'evans', 'banks', 'walker', 'reyes',
       'gardner', 'burke', 'stewart', 'lane', 'reynolds', 'montgomery',
       'russell', 'martinez', 'ellis', 'robinson', 'garrett', 'lawrence',
       'hamilton', 'ramirez', 'gilbert', 'stone', 'jacobs', 'garza',
       'king', 'stanley', 'spencer', 'cooper', 'turner', 'baker', 'smith',
       'griffin', 'parker', 'matthews', 'snyder', 'hernandez', 'henry',
       'cox', 'kelly', 'mills', 'franklin', 'chavez', 'shaw', 'bennett',
       'clark', 'hunter', 'carter', 'lopez', 'ruiz', 'cook', 'willis',
       'perry', 'daniels', 'myers', 'nelson', 'pierce', 'frazier',
       'garcia', 'payne', 'diaz', 'cruz', 'sullivan', 'fuller', 'brooks',
       'johnston', 'hicks', 'porter', 'campbell', 'harper', 'welch',
       'bryant', 'wells', 'dunn', 'mccoy', 'hart', 'bishop', 'flores',
       'riley', 'wood', 'hughes', 'martin', 'dean', 'thompson', 'harris',
       'warren', 'perez', 'fields', 'bradley', 'larson', 'palmer',
       'alvarez', 'henderson', 'romero', 'simpson', 'ray', 'morrison'],
      dtype=object)

In [27]:
len(df_employees.last_name.unique())

244

In [11]:
query = "select * from company_regions;"
df_company_regions = pd.read_sql_query(query, engine)
print(df_company_regions)

   id       region_name country_name
0   1         northeast          usa
1   2         southeast          usa
2   3         northwest          usa
3   4         southwest          usa
4   5  british columbia       canada
5   6            quebec       canada
6   7       nova scotia       canada

In [12]:
query = "select * from company_departments;"
df_company_departments = pd.read_sql_query(query, engine)
print(df_company_departments)

    id department_name         division_name
0    1      automotive       auto & hardware
1    2            baby              domestic
2    3          beauty              domestic
3    4        clothing              domestic
4    5       computers  electronic equipment
5    6     electronics  electronic equipment
6    7           games              domestic
7    8          garden     outdoors & garden
8    9         grocery              domestic
9   10          health              domestic
10  11            home              domestic
11  12      industrial       auto & hardware
12  13        jewelery               fashion
13  14            kids              domestic
14  15          movies         entertainment
15  16           music         entertainment
16  17        outdoors     outdoors & garden
17  18           shoes              domestic
18  19          sports        games & sports
19  20           tools       auto & hardware
20  21            toys        games & sports
21  22           other       non-categorized

aggregate functions

In [29]:
engine.execute("select avg(salary) from employees;").fetchall()

[(Decimal('97433.547801147228'),)]

In [30]:
engine.execute("select max(salary) from employees;").fetchall()

[(149929,)]

In [32]:
engine.execute("select min(salary) from employees;").fetchall()

[(40138,)]

In [31]:
engine.execute("select count(*) from employees;").fetchall()

[(1046,)]

In [34]:
engine.execute("select count(*), min(salary), max(salary) from employees where region_id = 2;").fetchall()

[(164, 40218, 149221)]

In [35]:
engine.execute("select count(*), min(id), max(id) from employees;").fetchall()

[(1046, 1, 1944)]

statistical aggregate functions

In [37]:
engine.execute("""
        select sum(salary) from employees;
""").fetchall()

[(101915491,)]

In [38]:
engine.execute("""
        select department_id, sum(salary), avg(salary) from employees group by department_id;
""").fetchall()

[(14, 4039362, Decimal('87812.217391304348')),
 (8, 5090304, Decimal('103883.755102040816')),
 (12, 4822205, Decimal('92734.711538461538')),
 (17, 3274767, Decimal('88507.216216216216')),
 (1, 4584268, Decimal('99658.000000000000')),
 (15, 3543027, Decimal('93237.552631578947')),
 (10, 4651241, Decimal('101113.934782608696')),
 (11, 4552880, Decimal('98975.652173913043')),
 (4, 5481063, Decimal('103416.283018867925')),
 (18, 5378660, Decimal('112055.416666666667')),
 (16, 3632825, Decimal('100911.805555555556')),
 (6, 5152963, Decimal('99095.442307692308')),
 (19, 3968118, Decimal('92281.813953488372')),
 (2, 4584268, Decimal('99658.000000000000')),
 (21, 4095808, Decimal('105020.717948717949')),
 (3, 4218724, Decimal('93749.422222222222')),
 (20, 3756041, Decimal('93901.025000000000')),
 (5, 5037890, Decimal('95054.528301886792')),
 (13, 4366340, Decimal('92900.851063829787')),
 (22, 8403511, Decimal('95494.443181818182')),
 (9, 4792085, Decimal('101959.255319148936')),
 (7, 4489141, Decimal('91615.122448979592'))]

In [40]:
engine.execute("""
        select
            department_id, sum(salary), round(avg(salary),2)
        from 
            employees
        group by department_id;
""").fetchall()

[(14, 4039362, Decimal('87812.22')),
 (8, 5090304, Decimal('103883.76')),
 (12, 4822205, Decimal('92734.71')),
 (17, 3274767, Decimal('88507.22')),
 (1, 4584268, Decimal('99658.00')),
 (15, 3543027, Decimal('93237.55')),
 (10, 4651241, Decimal('101113.93')),
 (11, 4552880, Decimal('98975.65')),
 (4, 5481063, Decimal('103416.28')),
 (18, 5378660, Decimal('112055.42')),
 (16, 3632825, Decimal('100911.81')),
 (6, 5152963, Decimal('99095.44')),
 (19, 3968118, Decimal('92281.81')),
 (2, 4584268, Decimal('99658.00')),
 (21, 4095808, Decimal('105020.72')),
 (3, 4218724, Decimal('93749.42')),
 (20, 3756041, Decimal('93901.03')),
 (5, 5037890, Decimal('95054.53')),
 (13, 4366340, Decimal('92900.85')),
 (22, 8403511, Decimal('95494.44')),
 (9, 4792085, Decimal('101959.26')),
 (7, 4489141, Decimal('91615.12'))]

In [41]:
engine.execute(
    """
        select department_id, sum(salary), round(avg(salary),2), var_pop(salary)
        from
        employees
        group by department_id;
    """
).fetchall()

[(14, 4039362, Decimal('87812.22'), Decimal('875256537.77882798')),
 (8, 5090304, Decimal('103883.76'), Decimal('1040425239.16451479')),
 (12, 4822205, Decimal('92734.71'), Decimal('1037243300.97448225')),
 (17, 3274767, Decimal('88507.22'), Decimal('1001696601.52081812')),
 (1, 4584268, Decimal('99658.00'), Decimal('929902811.86956522')),
 (15, 3543027, Decimal('93237.55'), Decimal('1072987422.93144044')),
 (10, 4651241, Decimal('101113.93'), Decimal('1161021316.10444234')),
 (11, 4552880, Decimal('98975.65'), Decimal('1216304238.79206049')),
 (4, 5481063, Decimal('103416.28'), Decimal('952478558.54254183')),
 (18, 5378660, Decimal('112055.42'), Decimal('745849798.45138889')),
 (16, 3632825, Decimal('100911.81'), Decimal('876898879.10108025')),
 (6, 5152963, Decimal('99095.44'), Decimal('930175201.51590237')),
 (19, 3968118, Decimal('92281.81'), Decimal('849306565.17468902')),
 (2, 4584268, Decimal('99658.00'), Decimal('929902811.86956522')),
 (21, 4095808, Decimal('105020.72'), Decimal('795868561.02301118')),
 (3, 4218724, Decimal('93749.42'), Decimal('912220932.82172840')),
 (20, 3756041, Decimal('93901.03'), Decimal('1049150239.87437500')),
 (5, 5037890, Decimal('95054.53'), Decimal('1000324590.36240655')),
 (13, 4366340, Decimal('92900.85'), Decimal('889271955.27569036')),
 (22, 8403511, Decimal('95494.44'), Decimal('1041669132.04222624')),
 (9, 4792085, Decimal('101959.26'), Decimal('909562157.08374830')),
 (7, 4489141, Decimal('91615.12'), Decimal('1073778518.02582257'))]

In [42]:
engine.execute(
    """
        select
            department_id, sum(salary), round(avg(salary),2), var_pop(salary), stddev_pop(salary)
        from 
            employees
        group by department_id;  
    """
).fetchall()

[(14, 4039362, Decimal('87812.22'), Decimal('875256537.77882798'), Decimal('29584.73487762')),
 (8, 5090304, Decimal('103883.76'), Decimal('1040425239.16451479'), Decimal('32255.62337275')),
 (12, 4822205, Decimal('92734.71'), Decimal('1037243300.97448225'), Decimal('32206.26182863')),
 (17, 3274767, Decimal('88507.22'), Decimal('1001696601.52081812'), Decimal('31649.59085866')),
 (1, 4584268, Decimal('99658.00'), Decimal('929902811.86956522'), Decimal('30494.30786015')),
 (15, 3543027, Decimal('93237.55'), Decimal('1072987422.93144044'), Decimal('32756.48673059')),
 (10, 4651241, Decimal('101113.93'), Decimal('1161021316.10444234'), Decimal('34073.76286976')),
 (11, 4552880, Decimal('98975.65'), Decimal('1216304238.79206049'), Decimal('34875.55359836')),
 (4, 5481063, Decimal('103416.28'), Decimal('952478558.54254183'), Decimal('30862.25135246')),
 (18, 5378660, Decimal('112055.42'), Decimal('745849798.45138889'), Decimal('27310.25079437')),
 (16, 3632825, Decimal('100911.81'), Decimal('876898879.10108025'), Decimal('29612.47843564')),
 (6, 5152963, Decimal('99095.44'), Decimal('930175201.51590237'), Decimal('30498.77377069')),
 (19, 3968118, Decimal('92281.81'), Decimal('849306565.17468902'), Decimal('29142.86473864')),
 (2, 4584268, Decimal('99658.00'), Decimal('929902811.86956522'), Decimal('30494.30786015')),
 (21, 4095808, Decimal('105020.72'), Decimal('795868561.02301118'), Decimal('28211.14249766')),
 (3, 4218724, Decimal('93749.42'), Decimal('912220932.82172840'), Decimal('30202.99542797')),
 (20, 3756041, Decimal('93901.03'), Decimal('1049150239.87437500'), Decimal('32390.58875467')),
 (5, 5037890, Decimal('95054.53'), Decimal('1000324590.36240655'), Decimal('31627.90840954')),
 (13, 4366340, Decimal('92900.85'), Decimal('889271955.27569036'), Decimal('29820.66322662')),
 (22, 8403511, Decimal('95494.44'), Decimal('1041669132.04222624'), Decimal('32274.89941181')),
 (9, 4792085, Decimal('101959.26'), Decimal('909562157.08374830'), Decimal('30158.94820918')),
 (7, 4489141, Decimal('91615.12'), Decimal('1073778518.02582257'), Decimal('32768.55990162'))]

In [43]:
# pickup 68% 1 std, 95% 2 std
# need video pickup wth round(stddev_pop(salary),2)
engine.execute(
    """
      select
        department_id, 
        sum(salary), 
        round(avg(salary),2), 
        var_pop(salary), 
        round(stddev_pop(salary),2)
    from 
        employees
    group by department_id;
    """
).fetchall()

[(14, 4039362, Decimal('87812.22'), Decimal('875256537.77882798'), Decimal('29584.73')),
 (8, 5090304, Decimal('103883.76'), Decimal('1040425239.16451479'), Decimal('32255.62')),
 (12, 4822205, Decimal('92734.71'), Decimal('1037243300.97448225'), Decimal('32206.26')),
 (17, 3274767, Decimal('88507.22'), Decimal('1001696601.52081812'), Decimal('31649.59')),
 (1, 4584268, Decimal('99658.00'), Decimal('929902811.86956522'), Decimal('30494.31')),
 (15, 3543027, Decimal('93237.55'), Decimal('1072987422.93144044'), Decimal('32756.49')),
 (10, 4651241, Decimal('101113.93'), Decimal('1161021316.10444234'), Decimal('34073.76')),
 (11, 4552880, Decimal('98975.65'), Decimal('1216304238.79206049'), Decimal('34875.55')),
 (4, 5481063, Decimal('103416.28'), Decimal('952478558.54254183'), Decimal('30862.25')),
 (18, 5378660, Decimal('112055.42'), Decimal('745849798.45138889'), Decimal('27310.25')),
 (16, 3632825, Decimal('100911.81'), Decimal('876898879.10108025'), Decimal('29612.48')),
 (6, 5152963, Decimal('99095.44'), Decimal('930175201.51590237'), Decimal('30498.77')),
 (19, 3968118, Decimal('92281.81'), Decimal('849306565.17468902'), Decimal('29142.86')),
 (2, 4584268, Decimal('99658.00'), Decimal('929902811.86956522'), Decimal('30494.31')),
 (21, 4095808, Decimal('105020.72'), Decimal('795868561.02301118'), Decimal('28211.14')),
 (3, 4218724, Decimal('93749.42'), Decimal('912220932.82172840'), Decimal('30203.00')),
 (20, 3756041, Decimal('93901.03'), Decimal('1049150239.87437500'), Decimal('32390.59')),
 (5, 5037890, Decimal('95054.53'), Decimal('1000324590.36240655'), Decimal('31627.91')),
 (13, 4366340, Decimal('92900.85'), Decimal('889271955.27569036'), Decimal('29820.66')),
 (22, 8403511, Decimal('95494.44'), Decimal('1041669132.04222624'), Decimal('32274.90')),
 (9, 4792085, Decimal('101959.26'), Decimal('909562157.08374830'), Decimal('30158.95')),
 (7, 4489141, Decimal('91615.12'), Decimal('1073778518.02582257'), Decimal('32768.56'))]

grouping and filtering data

In [45]:
engine.execute(
    """
    select distinct(last_name), department_id, salary
    from employees
    where last_name = 'boyd';
    """
).fetchall()

[('boyd', 5, 108854),
 ('boyd', 12, 128765),
 ('boyd', 2, 69936),
 ('boyd', 1, 69936)]

In [48]:
engine.execute(
    """
    select distinct(last_name), department_id, salary
    from employees
    where last_name like 'b%%';
    """
).fetchall()

[('burns', 2, 44377),
 ('burke', 6, 114690),
 ('bowman', 10, 50623),
 ('bennett', 15, 71433),
 ('baker', 13, 145283),
 ('burns', 14, 88093),
 ('burns', 7, 102001),
 ('burton', 19, 67758),
 ('berry', 5, 43067),
 ('burns', 18, 113654),
 ('black', 22, 117171),
 ('burke', 12, 106033),
 ('boyd', 1, 69936),
 ('burke', 9, 95726),
 ('banks', 17, 43940),
 ('bishop', 16, 53798),
 ('black', 22, 80073),
 ('baker', 8, 68857),
 ('bell', 21, 92561),
 ('bailey', 3, 94049),
 ('bowman', 3, 116355),
 ('burton', 9, 80763),
 ('burton', 13, 105810),
 ('burton', 19, 79172),
 ('butler', 4, 66313),
 ('burton', 5, 58697),
 ('bishop', 14, 69559),
 ('butler', 2, 128448),
 ('burton', 8, 140688),
 ('butler', 8, 115541),
 ('butler', 12, 47994),
 ('bell', 3, 66608),
 ('barnes', 9, 100763),
 ('barnes', 3, 112837),
 ('berry', 12, 148640),
 ('burton', 22, 63682),
 ('bryant', 17, 139347),
 ('bell', 20, 68210),
 ('banks', 6, 137025),
 ('butler', 1, 128448),
 ('burke', 10, 147290),
 ('brooks', 12, 79724),
 ('butler', 4, 63918),
 ('bowman', 8, 75399),
 ('bishop', 21, 110744),
 ('brooks', 17, 69026),
 ('banks', 6, 136034),
 ('baker', 22, 107749),
 ('burns', 1, 44377),
 ('bailey', 17, 138540),
 ('boyd', 12, 128765),
 ('brooks', 19, 77060),
 ('burton', 6, 46960),
 ('bell', 6, 122843),
 ('brooks', 11, 94502),
 ('bryant', 18, 148260),
 ('bradley', 18, 107222),
 ('bailey', 22, 71676),
 ('brooks', 22, 102458),
 ('bryant', 13, 78052),
 ('boyd', 5, 108854),
 ('butler', 20, 78157),
 ('banks', 14, 119747),
 ('black', 5, 44179),
 ('bennett', 9, 125713),
 ('burke', 14, 61446),
 ('brown', 4, 79419),
 ('boyd', 2, 69936)]

In [49]:
engine.execute(
    """
    select distinct(last_name), department_id, salary
    from employees
    where last_name like 'b%%k';
    """
).fetchall()

[('black', 22, 117171), ('black', 5, 44179), ('black', 22, 80073)]

In [50]:
engine.execute(
    """
    select distinct(last_name), department_id, salary
    from employees
    where last_name like 'b%%k' or salary > 100000;
    """
).fetchall()

[('cooper', 9, 139796),
 ('morgan', 13, 101945),
 ('gordon', 16, 142840),
 ('lopez', 9, 138776),
 ('rice', 9, 144724),
 ('matthews', 18, 123936),
 ('jenkins', 11, 115911),
 ('hart', 14, 119773),
 ('cox', 8, 149221),
 ('ramos', 9, 127268),
 ('walker', 14, 145281),
 ('lane', 18, 104896),
 ('castillo', 6, 132634),
 ('kelly', 19, 128646),
 ('james', 5, 136377),
 ('elliott', 5, 119097),
 ('walker', 8, 134488),
 ('morales', 12, 149598),
 ('torres', 1, 120875),
 ('torres', 6, 118307),
 ('collins', 4, 137911),
 ('marshall', 6, 123401),
 ('lawrence', 10, 131681),
 ('hudson', 22, 146745),
 ('medina', 13, 102149),
 ('myers', 12, 139060),
 ('hughes', 15, 122110),
 ('sullivan', 17, 101756),
 ('webb', 1, 111689),
 ('anderson', 2, 126485),
 ('larson', 18, 119414),
 ('henry', 19, 131252),
 ('elliott', 16, 100570),
 ('owens', 4, 138682),
 ('gutierrez', 9, 106994),
 ('wallace', 22, 118793),
 ('black', 22, 80073),
 ('schmidt', 1, 133612),
 ('tucker', 10, 104844),
 ('ellis', 13, 134074),
 ('meyer', 20, 145363),
 ('gonzalez', 21, 131830),
 ('robertson', 6, 136406),
 ('murphy', 12, 146432),
 ('gonzales', 16, 131274),
 ('harris', 22, 126468),
 ('simmons', 16, 113857),
 ('george', 2, 141505),
 ('white', 6, 122540),
 ('rodriguez', 4, 141949),
 ('sanchez', 16, 108093),
 ('webb', 18, 144932),
 ('gordon', 2, 129324),
 ('crawford', 4, 114436),
 ('kelley', 5, 116266),
 ('parker', 8, 114919),
 ('frazier', 15, 111244),
 ('moreno', 22, 121238),
 ('reed', 1, 126001),
 ('cunningham', 18, 108248),
 ('duncan', 19, 110407),
 ('hawkins', 2, 115506),
 ('harris', 16, 129527),
 ('knight', 16, 100716),
 ('sanders', 13, 117905),
 ('garrett', 7, 145181),
 ('hansen', 9, 129746),
 ('moreno', 13, 140858),
 ('owens', 22, 104373),
 ('kelly', 9, 144965),
 ('ford', 13, 138459),
 ('little', 17, 114647),
 ('greene', 22, 149835),
 ('rice', 10, 108380),
 ('watson', 13, 115679),
 ('carter', 10, 120800),
 ('watson', 22, 111873),
 ('ortiz', 1, 113231),
 ('edwards', 10, 115360),
 ('hunt', 17, 140430),
 ('chavez', 17, 137704),
 ('peters', 4, 132470),
 ('butler', 1, 128448),
 ('robinson', 17, 144608),
 ('phillips', 5, 128205),
 ('hansen', 22, 145559),
 ('snyder', 8, 143846),
 ('phillips', 9, 127367),
 ('harris', 21, 148940),
 ('gordon', 2, 136448),
 ('young', 17, 114695),
 ('baker', 22, 107749),
 ('cruz', 11, 131479),
 ('mcdonald', 1, 111041),
 ('torres', 8, 135886),
 ('simmons', 4, 116767),
 ('lynch', 18, 117248),
 ('schmidt', 20, 125465),
 ('bailey', 17, 138540),
 ('washington', 5, 148408),
 ('turner', 19, 130849),
 ('greene', 5, 104517),
 ('cole', 14, 133040),
 ('arnold', 22, 133781),
 ('stanley', 13, 140850),
 ('watkins', 22, 104444),
 ('harvey', 21, 138179),
 ('jordan', 20, 123843),
 ('sanchez', 1, 146167),
 ('peterson', 18, 144841),
 ('williamson', 6, 149085),
 ('carpenter', 12, 134813),
 ('anderson', 20, 115009),
 ('wheeler', 22, 145284),
 ('boyd', 5, 108854),
 ('lee', 14, 117147),
 ('carroll', 3, 125398),
 ('hernandez', 8, 119787),
 ('dixon', 3, 138970),
 ('black', 5, 44179),
 ('bennett', 9, 125713),
 ('edwards', 18, 121713),
 ('powell', 4, 116013),
 ('richards', 5, 116333),
 ('gonzalez', 11, 107240),
 ('lee', 13, 115085),
 ('washington', 15, 109828),
 ('lynch', 5, 111318),
 ('rivera', 22, 122219),
 ('frazier', 21, 104326),
 ('hill', 21, 144661),
 ('watkins', 20, 133507),
 ('weaver', 16, 120226),
 ('day', 3, 125914),
 ('freeman', 15, 109154),
 ('owens', 1, 135326),
 ('harvey', 4, 124707),
 ('burns', 7, 102001),
 ('lawson', 1, 130993),
 ('rose', 10, 120225),
 ('powell', 11, 120577),
 ('james', 14, 108657),
 ('coleman', 6, 110839),
 ('reyes', 9, 134114),
 ('andrews', 4, 142103),
 ('burns', 18, 113654),
 ('larson', 22, 144991),
 ('burke', 12, 106033),
 ('sanders', 16, 146970),
 ('harris', 16, 110912),
 ('kelly', 8, 120086),
 ('mills', 10, 114200),
 ('nichols', 1, 110589),
 ('jordan', 5, 133498),
 ('dixon', 20, 126420),
 ('carr', 2, 101768),
 ('gonzalez', 10, 148106),
 ('wilson', 4, 122446),
 ('williamson', 5, 118602),
 ('james', 5, 130188),
 ('peters', 10, 132037),
 ('rice', 22, 145747),
 ('hanson', 11, 133492),
 ('reed', 16, 120579),
 ('stanley', 10, 149929),
 ('harrison', 3, 134334),
 ('robertson', 6, 106607),
 ('butler', 8, 115541),
 ('cook', 17, 109404),
 ('stephens', 10, 147440),
 ('riley', 14, 149114),
 ('rivera', 8, 137281),
 ('stevens', 7, 118791),
 ('schmidt', 2, 121300),
 ('garza', 7, 113278),
 ('cox', 8, 135719),
 ('palmer', 22, 138815),
 ('lopez', 11, 125944),
 ('weaver', 13, 131283),
 ('day', 12, 135993),
 ('gonzales', 2, 101006),
 ('morris', 12, 131662),
 ('chavez', 15, 139163),
 ('watkins', 6, 125668),
 ('hanson', 20, 141513),
 ('kelley', 7, 106602),
 ('coleman', 4, 121378),
 ('gonzales', 5, 127393),
 ('walker', 12, 120085),
 ('lopez', 18, 131961),
 ('mason', 21, 120160),
 ('edwards', 2, 140194),
 ('spencer', 7, 110881),
 ('carpenter', 6, 125523),
 ('wright', 1, 127521),
 ('hamilton', 7, 141340),
 ('burke', 10, 147290),
 ('welch', 18, 118514),
 ('chavez', 9, 128766),
 ('price', 11, 142794),
 ('lawrence', 18, 133424),
 ('murray', 11, 142255),
 ('morris', 16, 127645),
 ('ross', 8, 104671),
 ('stanley', 7, 103237),
 ('thompson', 16, 133281),
 ('thomas', 2, 116487),
 ('banks', 6, 136034),
 ('moore', 6, 139304),
 ('allen', 21, 149586),
 ('murphy', 22, 128105),
 ('kennedy', 22, 111072),
 ('anderson', 22, 139486),
 ('carpenter', 6, 124418),
 ('kennedy', 20, 100741),
 ('parker', 13, 136917),
 ('freeman', 5, 147868),
 ('allen', 10, 132998),
 ('griffin', 9, 101875),
 ('ray', 22, 126661),
 ('white', 9, 118834),
 ('bradley', 18, 107222),
 ('brooks', 22, 102458),
 ('olson', 5, 107535),
 ('chavez', 10, 116894),
 ('king', 7, 149597),
 ('morgan', 15, 148952),
 ('long', 8, 142529),
 ('alexander', 2, 144724),
 ('carr', 16, 115274),
 ('jordan', 22, 115776),
 ('wright', 5, 107727),
 ('moreno', 4, 123017),
 ('fuller', 11, 142967),
 ('anderson', 12, 122272),
 ('carroll', 2, 128885),
 ('nguyen', 2, 108378),
 ('reynolds', 6, 120138),
 ('graham', 8, 109058),
 ('ryan', 4, 115888),
 ('gutierrez', 12, 139845),
 ('phillips', 21, 118497),
 ('mcdonald', 3, 141464),
 ('torres', 14, 105686),
 ('henry', 8, 132421),
 ('carpenter', 18, 133360),
 ('elliott', 20, 131409),
 ('hawkins', 20, 134931),
 ('griffin', 16, 116480),
 ('mcdonald', 2, 111041),
 ('fowler', 18, 104264),
 ('burke', 6, 114690),
 ('fowler', 18, 120540),
 ('nelson', 19, 139564),
 ('white', 5, 147702),
 ('dunn', 18, 148889),
 ('white', 10, 122130),
 ('hunter', 22, 123156),
 ('gonzalez', 11, 106833),
 ('reed', 19, 142483),
 ('baker', 13, 145283),
 ('graham', 4, 123391),
 ('freeman', 15, 149351),
 ('sanchez', 2, 146167),
 ('willis', 21, 113507),
 ('lawrence', 18, 108748),
 ('hansen', 4, 113893),
 ('roberts', 17, 105319),
 ('weaver', 6, 126307),
 ('cole', 21, 116766),
 ('larson', 18, 125574),
 ('freeman', 19, 121296),
 ('sims', 10, 136790),
 ('johnson', 7, 135001),
 ('hanson', 7, 144767),
 ('garcia', 11, 135132),
 ('jenkins', 21, 113599),
 ('kelley', 16, 110660),
 ('johnston', 14, 123820),
 ('cole', 4, 117962),
 ('lewis', 22, 115975),
 ('elliott', 22, 104149),
 ('hawkins', 7, 144073),
 ('warren', 16, 126201),
 ('ellis', 11, 139775),
 ('ortiz', 2, 113231),
 ('rose', 5, 107207),
 ('bowman', 3, 116355),
 ('chapman', 14, 126103),
 ('burton', 13, 105810),
 ('butler', 2, 128448),
 ('reyes', 9, 148860),
 ('carpenter', 4, 101653),
 ('crawford', 12, 119471),
 ('gordon', 1, 136448),
 ('jackson', 4, 107093),
 ('gomez', 4, 107389),
 ('chapman', 4, 110749),
 ('carroll', 8, 128562),
 ('peterson', 22, 104530),
 ('barnes', 9, 100763),
 ('sims', 20, 127223),
 ('evans', 6, 106535),
 ('stevens', 6, 106229),
 ('clark', 11, 112510),
 ('berry', 12, 148640),
 ('vasquez', 4, 131811),
 ('schmidt', 2, 133612),
 ('elliott', 13, 125115),
 ('young', 10, 138844),
 ('andrews', 18, 147003),
 ('griffin', 8, 140567),
 ('carroll', 12, 110622),
 ('banks', 6, 137025),
 ('rodriguez', 18, 140276),
 ('hayes', 4, 130097),
 ('vasquez', 9, 127695),
 ('moreno', 19, 102493),
 ('wright', 19, 109233),
 ('wagner', 4, 135445),
 ('clark', 20, 146611),
 ('george', 1, 141505),
 ('johnston', 11, 143855),
 ('myers', 10, 148993),
 ('walker', 6, 122108),
 ('moreno', 12, 107907),
 ('ellis', 18, 146256),
 ('gordon', 1, 129324),
 ('rose', 3, 127291),
 ('gibson', 6, 109449),
 ('fox', 15, 128726),
 ('riley', 20, 143781),
 ('chapman', 13, 125843),
 ('richardson', 11, 145962),
 ('bishop', 21, 110744),
 ('reed', 2, 126001),
 ('sullivan', 11, 103182),
 ('olson', 12, 110411),
 ('dean', 16, 140708),
 ('hawkins', 1, 115506),
 ('stevens', 22, 108444),
 ('payne', 22, 138137),
 ('williams', 3, 131273),
 ('webb', 15, 142988),
 ('fowler', 11, 142211),
 ('gibson', 13, 148816),
 ('ward', 17, 108228),
 ('dixon', 11, 104224),
 ('reed', 18, 108504),
 ('boyd', 12, 128765),
 ('woods', 7, 148986),
 ('williams', 14, 101599),
 ('bryant', 18, 148260),
 ('robertson', 6, 136492),
 ('robinson', 7, 134422),
 ('gomez', 21, 103806),
 ('jones', 3, 128048),
 ('torres', 2, 120875),
 ('webb', 21, 143595),
 ('hall', 15, 112126),
 ('austin', 19, 101646),
 ('williams', 21, 107709),
 ('harrison', 19, 133845),
 ('medina', 8, 114989),
 ('reynolds', 15, 111427),
 ('hall', 18, 100428),
 ('fowler', 3, 110383),
 ('anderson', 1, 126485),
 ('webb', 2, 111689),
 ('morales', 8, 101855),
 ('garcia', 10, 131075),
 ('turner', 10, 146952),
 ('fields', 22, 101520),
 ('tucker', 3, 148573),
 ('grant', 6, 108441),
 ('peters', 10, 138093),
 ('porter', 19, 140243),
 ('walker', 19, 110896),
 ('hayes', 15, 110615),
 ('snyder', 16, 109004),
 ('armstrong', 4, 143853),
 ('crawford', 12, 140996),
 ('stewart', 6, 149336),
 ('lynch', 11, 126683),
 ('hill', 19, 117092),
 ('webb', 14, 127569),
 ('hunter', 19, 112048),
 ('austin', 12, 110627),
 ('alexander', 1, 144724),
 ('collins', 18, 143034),
 ('henderson', 21, 101937),
 ('medina', 3, 106659),
 ('matthews', 11, 114970),
 ('nguyen', 1, 108378),
 ('knight', 17, 135688),
 ('carroll', 1, 128885),
 ('foster', 11, 138478),
 ('gordon', 18, 107407),
 ('castillo', 14, 130188),
 ('black', 22, 117171),
 ('spencer', 22, 119769),
 ('cole', 21, 133190),
 ('reed', 9, 144953),
 ('richards', 3, 140004),
 ('moreno', 10, 112004),
 ('daniels', 21, 139061),
 ('stewart', 22, 148144),
 ('willis', 9, 123427),
 ('kelley', 19, 120377),
 ('richardson', 5, 142403),
 ('long', 4, 149099),
 ('carr', 9, 143570),
 ('gomez', 16, 101582),
 ('diaz', 11, 128748),
 ('howard', 18, 141753),
 ('edwards', 1, 140194),
 ('kelly', 15, 143433),
 ('ramos', 4, 102361),
 ('mendoza', 4, 128947),
 ('martinez', 18, 131392),
 ('hanson', 21, 113354),
 ('reyes', 20, 130563),
 ('thomas', 21, 128239),
 ('white', 4, 136356),
 ('williamson', 8, 145575),
 ('snyder', 15, 141678),
 ('washington', 18, 113311),
 ('wright', 2, 127521),
 ('burton', 8, 140688),
 ('harvey', 4, 131816),
 ('gibson', 6, 105444),
 ('perry', 13, 124296),
 ('gonzalez', 6, 122231),
 ('cooper', 7, 120108),
 ('martinez', 8, 124853),
 ('stevens', 8, 106729),
 ('phillips', 22, 102793),
 ('thomas', 1, 116487),
 ('dixon', 3, 106281),
 ('snyder', 10, 124215),
 ('gray', 5, 134205),
 ('reynolds', 9, 121836),
 ('barnes', 3, 112837),
 ('spencer', 8, 143223),
 ('holmes', 22, 147150),
 ('turner', 8, 127875),
 ('stephens', 10, 110366),
 ('ramirez', 22, 147862),
 ('jacobs', 14, 121966),
 ('carr', 1, 101768),
 ('matthews', 22, 119602),
 ('howard', 3, 148687),
 ('crawford', 9, 142149),
 ('kelly', 15, 132676),
 ('bryant', 17, 139347),
 ('williamson', 21, 135695),
 ('ford', 19, 147739),
 ('fisher', 4, 131152),
 ('phillips', 7, 127171),
 ('ruiz', 18, 116301),
 ('jacobs', 8, 141139),
 ('welch', 17, 133007),
 ('ferguson', 21, 119385),
 ('moore', 4, 142101),
 ('perry', 22, 146701),
 ('moore', 7, 102395),
 ('wagner', 22, 142516),
 ('robinson', 11, 137594),
 ('cunningham', 9, 139302),
 ('schmidt', 1, 121300),
 ('day', 7, 109890),
 ('sims', 5, 146024),
 ('gonzales', 1, 101006),
 ('harper', 18, 144639),
 ('ramirez', 7, 112929),
 ('nichols', 8, 145692),
 ('young', 5, 104079),
 ('knight', 7, 125847),
 ('hudson', 12, 143226),
 ('arnold', 16, 135786),
 ('sanders', 13, 102211),
 ('franklin', 16, 117105),
 ('bell', 6, 122843),
 ('vasquez', 8, 125378),
 ('johnson', 6, 134940),
 ('alexander', 22, 140078),
 ('owens', 2, 135326),
 ('parker', 18, 148906),
 ('griffin', 22, 108970),
 ('day', 21, 129890),
 ('hudson', 3, 103845),
 ('price', 5, 133091),
 ('roberts', 5, 139714),
 ('lawson', 2, 130993),
 ('woods', 4, 123995),
 ('evans', 8, 122595),
 ('banks', 14, 119747),
 ('chavez', 10, 144028),
 ('hamilton', 11, 141375),
 ('mason', 20, 147166),
 ('stone', 9, 100746),
 ('watkins', 14, 128617),
 ('watkins', 18, 128805),
 ('gordon', 3, 110058),
 ('nichols', 2, 110589)]

joining and filtering data

In [53]:
engine.execute(
    """
    select * 
    from employees e
    join company_regions cr
    on e.region_id = cr.id
    limit 5;
    """
).fetchall()

[(1, 'kelley', 'rkelley0@soundcloud.com', datetime.date(2015, 9, 19), 67470, 'structural engineer', 2, 6, 2, 'southeast', 'usa'),
 (22, 'alexander', 'kalexanderl@marketwatch.com', datetime.date(2021, 10, 20), 144724, 'marketing assistant', 2, 1, 2, 'southeast', 'usa'),
 (1003, 'carr', 'fcarr2@woothemes.com', datetime.date(2018, 9, 20), 101768, 'recruiting manager', 3, 1, 3, 'northwest', 'usa'),
 (45, 'nguyen', 'mnguyen18@biblegateway.com', datetime.date(2021, 6, 21), 108378, 'electrical engineer', 7, 1, 7, 'nova scotia', 'canada'),
 (50, 'armstrong', 'parmstrong1d@hc360.com', datetime.date(2017, 9, 13), 89969, 'senior editor', 4, 1, 4, 'southwest', 'usa')]

In [55]:
engine.execute(
    """
    select
        e.*, cr.region_name, cr.country_name
    from employees e
    join
        company_regions cr
    on e.region_id = cr.id limit 5;
    """
).fetchall()

[(1, 'kelley', 'rkelley0@soundcloud.com', datetime.date(2015, 9, 19), 67470, 'structural engineer', 2, 6, 'southeast', 'usa'),
 (22, 'alexander', 'kalexanderl@marketwatch.com', datetime.date(2021, 10, 20), 144724, 'marketing assistant', 2, 1, 'southeast', 'usa'),
 (1003, 'carr', 'fcarr2@woothemes.com', datetime.date(2018, 9, 20), 101768, 'recruiting manager', 3, 1, 'northwest', 'usa'),
 (45, 'nguyen', 'mnguyen18@biblegateway.com', datetime.date(2021, 6, 21), 108378, 'electrical engineer', 7, 1, 'nova scotia', 'canada'),
 (50, 'armstrong', 'parmstrong1d@hc360.com', datetime.date(2017, 9, 13), 89969, 'senior editor', 4, 1, 'southwest', 'usa')]

In [57]:
engine.execute(
    """
    select
        e.*, cr.region_name, cr.country_name
    from employees e
    join
        company_regions cr
    on e.region_id = cr.id
    where cr.country_name = 'canada'
    limit 10;
    """
).fetchall()

[(45, 'nguyen', 'mnguyen18@biblegateway.com', datetime.date(2021, 6, 21), 108378, 'electrical engineer', 7, 1, 'nova scotia', 'canada'),
 (62, 'boyd', 'aboyd1p@artisteer.com', datetime.date(2022, 7, 4), 69936, 'senior editor', 7, 1, 'nova scotia', 'canada'),
 (92, 'ortiz', 'aortiz2j@jigsy.com', datetime.date(2020, 7, 17), 113231, 'senior editor', 7, 1, 'nova scotia', 'canada'),
 (103, 'reed', 'dreed2u@arstechnica.com', datetime.date(2016, 12, 19), 126001, 'structural engineer', 6, 1, 'quebec', 'canada'),
 (292, 'ortiz', 'dortiz83@themeforest.net', datetime.date(2017, 12, 25), 91296, 'environmental tech', 6, 1, 'quebec', 'canada'),
 (327, 'edwards', 'medwards92@mail.ru', datetime.date(2021, 9, 30), 140194, 'programmer iv', 5, 1, 'british columbia', 'canada'),
 (378, 'nichols', 'bnicholsah@networkadvertising.org', datetime.date(2020, 7, 8), 110589, 'cost accountant', 7, 1, 'nova scotia', 'canada'),
 (385, 'carroll', 'ecarrollao@newsvine.com', datetime.date(2015, 5, 9), 128885, 'office assistant iii', 5, 1, 'british columbia', 'canada'),
 (453, 'anderson', 'aandersonck@whitehouse.gov', datetime.date(2019, 8, 5), 126485, 'computer systems analyst i', 6, 1, 'quebec', 'canada'),
 (460, 'sanchez', 'lsanchezcr@rediff.com', datetime.date(2019, 11, 18), 146167, 'assistant professor', 5, 1, 'british columbia', 'canada')]

In [59]:
engine.execute(
    """
    select
    e.last_name,
    e.email,
    e.start_date,
    e.salary,
    e.job_title,
    cr.region_name, 
    cr.country_name
    from
        employees e
    join
        company_regions cr
    on
        e.region_id = cr.id
    where
        cr.country_name = 'canada'
    limit 10;
    """
).fetchall()

[('nguyen', 'mnguyen18@biblegateway.com', datetime.date(2021, 6, 21), 108378, 'electrical engineer', 'nova scotia', 'canada'),
 ('boyd', 'aboyd1p@artisteer.com', datetime.date(2022, 7, 4), 69936, 'senior editor', 'nova scotia', 'canada'),
 ('ortiz', 'aortiz2j@jigsy.com', datetime.date(2020, 7, 17), 113231, 'senior editor', 'nova scotia', 'canada'),
 ('reed', 'dreed2u@arstechnica.com', datetime.date(2016, 12, 19), 126001, 'structural engineer', 'quebec', 'canada'),
 ('ortiz', 'dortiz83@themeforest.net', datetime.date(2017, 12, 25), 91296, 'environmental tech', 'quebec', 'canada'),
 ('edwards', 'medwards92@mail.ru', datetime.date(2021, 9, 30), 140194, 'programmer iv', 'british columbia', 'canada'),
 ('nichols', 'bnicholsah@networkadvertising.org', datetime.date(2020, 7, 8), 110589, 'cost accountant', 'nova scotia', 'canada'),
 ('carroll', 'ecarrollao@newsvine.com', datetime.date(2015, 5, 9), 128885, 'office assistant iii', 'british columbia', 'canada'),
 ('anderson', 'aandersonck@whitehouse.gov', datetime.date(2019, 8, 5), 126485, 'computer systems analyst i', 'quebec', 'canada'),
 ('sanchez', 'lsanchezcr@rediff.com', datetime.date(2019, 11, 18), 146167, 'assistant professor', 'british columbia', 'canada')]